In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")
df = data

In [ ]:
df.head()

In [8]:
# 9704 records in the dataset
len(df)

9704

In [12]:
df.index.size

9704

In [13]:
df.shape[0]

9704

In [14]:
df.shape

(9704, 11)

In [27]:
# two types of fuel 
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [26]:
# 4 columns with missing values
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [28]:
df['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [31]:
# the maximum fuel efficiency of cars from Asia: 23.76
df.groupby('origin').max('fuel_efficiency_mpg').round(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
origin,,,,,,,,
Asia,370,11.0,245.0,4661.14,22.7,2023,4.0,23.76
Europe,380,13.0,271.0,4726.98,23.5,2023,3.0,25.97
USA,380,13.0,252.0,4739.08,24.3,2023,3.0,24.97

In [46]:
# the median value of horsepower
print("the median value of horsepower:",df['horsepower'].mean().round(2))

print("the most frequent value of horsepower:", df['horsepower'].value_counts().idxmax())

the median value of horsepower: 149.66
the most frequent value of horsepower: 152.0

In [4]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [6]:
import numpy as np

In [7]:
print(np.__version__)

2.3.1

In [22]:
u = np.array([[1, 2, 3, 4],
              [6, 5, 4, 7],
              [9, 12, 14, 15]])
v = np.array([1, 2, 3, 4])

m = np.array([[1, 2, 3],
              [6, 5, 4],
              [9, 12, 14],
              [7, 5, 5]])

print(u.shape)
print(v.shape)
print(m.shape)

(3, 4)
(4,)
(4, 3)

In [50]:
def vector_vector_multiplication(u, v):
    assert u.shape[0] == v.shape[0]
    
    n = u.shape[0]
    
    result = 0.0

    for i in range(n):
        result = result + u[i] * v[i]
    
    return result
    
def matrix_vector_mult(u, v):
    assert u.shape[1] == v.shape[0]
    
    rows_no = u.shape[0]

    result = np.zeros(rows_no)
    
    for i in range(rows_no):
        result[i] = vector_vector_multiplication(u[i], v)

    return result


def matrix_matrix_mult(u, m):
    assert u.shape[1] == m.shape[0],"no_rows != no_cols"
    
    rows_no = u.shape[0]
    cols_no = m.shape[1]

    result = np.zeros([rows_no, cols_no])
    
    for i in range(rows_no):
        for j in range(cols_no):
            # result[i, j] = np.vstack([result[i, j], vector_vector_multiplication(u[i], m[:, i])])
            result[i, j] = vector_vector_multiplication(u[i], m[:, j])
    return result

In [17]:
matrix_vector_mult(u, v)

array([ 30.,  56., 135.])

In [19]:
u.dot(v)

array([ 30,  56, 135])

In [51]:
matrix_matrix_mult(u, m)

array([[ 68.,  68.,  73.],
       [121., 120., 129.],
       [312., 321., 346.]])

In [32]:
u.dot(m)

array([[ 68,  68,  73],
       [121, 120, 129],
       [312, 321, 346]])

In [42]:
arr = np.zeros([2, 2])

In [43]:
arr

array([[0., 0.],
       [0., 0.]])