In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [22]:
data = pd.read_csv("Car data.csv")
df = data.copy()
df.shape

(301, 9)

In [23]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [24]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [27]:
df.columns = df.columns.str.lower()
df.columns

Index(['car_name', 'year', 'selling_price', 'present_price', 'kms_driven',
       'fuel_type', 'seller_type', 'transmission', 'owner'],
      dtype='object')

In [35]:
print(df.fuel_type.value_counts(), "\n")
print(df.seller_type.value_counts(), "\n")
print(df.transmission.value_counts())

fuel_type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

seller_type
Dealer        195
Individual    106
Name: count, dtype: int64

transmission
Manual       261
Automatic     40
Name: count, dtype: int64

In [38]:
string_columns = list(df.dtypes[df.dtypes == 'object'].index)
string_columns

['car_name', 'fuel_type', 'seller_type', 'transmission']

In [40]:
for col in string_columns:
    df[col] = df[col].str.lower()

In [42]:
df

,car_name,year,selling_price,present_price,kms_driven,fuel_type,seller_type,transmission,owner
0,ritz,2014,3.35,5.59,27000,petrol,dealer,manual,0
1,sx4,2013,4.75,9.54,43000,diesel,dealer,manual,0
2,ciaz,2017,7.25,9.85,6900,petrol,dealer,manual,0
3,wagon r,2011,2.85,4.15,5200,petrol,dealer,manual,0
4,swift,2014,4.60,6.87,42450,diesel,dealer,manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,diesel,dealer,manual,0
297,brio,2015,4.00,5.90,60000,petrol,dealer,manual,0
298,city,2009,3.35,11.00,87934,petrol,dealer,manual,0
299,city,2017,11.50,12.50,9000,diesel,dealer,manual,0
300,brio,2016,5.30,5.90,5464,petrol,dealer,manual,0

In [25]:
df.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [26]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [ ]:
# object columns : Feul_type / sellter_type / transmission